@import "../../styles/theme-variables.scss";

.profile-section {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile-icon-section {
    max-width: 150px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profile-icon {
    max-width: 75%;
    max-height: 80%;
}

.info-card {
    margin-top: 20px;
    padding: 10px;
    width: 270px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: {
        style: solid;
        width: 2px;
        radius: 15px;
        color: lightgrey;
    }
    align-items: center;
}

.info-card-title{
    color: black;
}

.info-card-amount {
    color: $g-highlight-bg;
}
