@import "../styles/theme-variables.scss";

.dashboard-tab-content {
    padding: 5px 15px;
    min-height: 300px;
    background-image: $g-gradient-secondary;
    @extend .border-box;
}

.dashboard-div {
    margin: 15px;
    padding: 20px;
}

.border-box {
    border: {
        width: 1px;
        style: solid;
        radius: 10px;
        color: lightgrey;
    }
}

.btn-new-div {
    display: flex;
    flex-direction: row-reverse;
}

.dashboard-nav-link {
    font-weight: bold;
    font-size: 18px;
    color: black !important;
    &.active {
        color: $g-highlight-bg !important;
    }
    &:hover {
        color: $g-highlight-bg !important;
    }
}

.message-section {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 15px;
    align-items: top;
}

.msg-icon-div {
}

.msg-icon {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.text-section {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.txt-title {
    font-size: 14px;
}

.txt-timestamp {
    font-size: 14px;
}

.txt-message {
    font-size: 16px;
}
