@import "./styles/theme-variables.scss";

.view-page {
  min-height: 100vh;
  height: 100%;
}

.header-section {
  height: 80px;
  background-image: $g-gradient;
  color: $g-gradient-font-color;
  display: flex;
  align-items: center;
}

.footer-section {
  background-image: $g-gradient;
  color: $g-gradient-font-color;
  font-weight: bold;
  bottom: 0;
  width: 100%;
  height: 40px; /* Height of the footer */
}

.route-section {
  min-height: 82vh;
  height: 100%;
  margin: 5px;
}
